---
big-title: "Vos spots végans<br>à Chambéry"
index: oui
description: "Tous les restaurants, bars, cafés et commerces vegan-friendly à Chambéry. Découvrez où manger végétalien et où trouver des produits végétaux à Chambéry et ses alentours."
menu: index
---
{% include head.html %}
{% include header.html %}
<div id="content" class="container">
  <section id="favoris">
    <h2 class="text-center icon favoris">Nos spots favoris</h2>
    <div class="row">
      <p class="text-center six columns offset-by-three">
        <strong>100% végan</strong> ou proposant quelques options <strong>100% végétales</strong>,
        on apprécie la qualité de leurs produits, leur gentillesse et leur éthique.
      </p>
    </div>
    {% assign compteur = 1 %}
    {% assign spots = site.spots | limit: 4 %}
    {% for spot in spots %}
      {% if spot.favori == "oui" %}
        {% if compteur == 1 %}
          <div class="row">
        {% endif %}

        {% include spot-card.html spot = spot %}

        {% if compteur == 2 or spot == spots.last %}
          </div>
          {% assign compteur = 0 %}
        {% endif %}
        {% assign compteur = compteur | plus: 1 %}
      {% endif %}
    {% endfor %}
    <ul class="text-center list-inline button-list">
      <li><a class="button" href="{{ site.baseurl }}/contribuer/">Ajouter un spot</a></li>
      <li><a class="button older primary" href="{{ site.baseurl }}/spots/">Tous les spots</a></li>
    </ul>
  </section>
</div>
{% include foot.html %}
