---
title: "Tous les spots"
subtitle: "Tous les <strong>restaurants</strong>, <strong>bars</strong>, <strong>cafés</strong>
          et divers <strong>commerces</strong> compatibles <strong>végan</strong> à Chambéry
          et ses alentours."
class: "icon spots"
menu: "spots"
sous-menu: "spots"
description: "Découvrez tous les restaurants, bars, cafés et commerces vegan-friendly à Chambéry et ses alentours : Chez Gaïa, In Bloom…"
excerpt: <!-- more -->
---
{% include head.html %}
{% include header.html %}
<div class="container">
  <section id="chambery">
    <h2 class="icon chambery text-center">À Chambéry</h2>
    <ul class="list-inline text-center">
      <li><a href="#100-vegan">100% végan</a></li>
      <li><a href="#options-veganes">Options véganes</a></li>
    </ul>
    {% assign compteur = 1 %}
    {% assign spots-all = site.spots | where: "ville", "Chambéry" %}

    {% assign spots = spots-all | where: "vegan", "100% végan" %}
    {% assign nb-spots-chambery = spots | size %}
    <h3 id="100-vegan">Les {{ nb-spots-chambery }} spots 100% végan</h3>
    {% for spot in spots %}
      {% if compteur == 1 %}
        <div class="row">
      {% endif %}

      {% include spot-card.html spot = spot %}

      {% if compteur == 2 or spot == spots.last %}
        </div>
        {% assign compteur = 0 %}
      {% endif %}
      {% assign compteur = compteur | plus: 1 %}
    {% endfor %}

    {% assign spots = spots-all | where: "vegan", "Options véganes" %}
    {% assign nb-spots = spots | size %}
    <h3 id="options-veganes">Les {{ nb-spots }} spots à options véganes</h3>
    {% for spot in spots %}
      {% if compteur == 1 %}
        <div class="row">
      {% endif %}

      {% include spot-card.html spot = spot %}

      {% if compteur == 2 or spot == spots.last %}
        </div>
        {% assign compteur = 0 %}
      {% endif %}
      {% assign compteur = compteur | plus: 1 %}
    {% endfor %}
    <p class="text-center">
      <a class="button add" href="{{ site.baseurl }}/contribuer/">Ajouter un spot</a>
    </p>
  </section>
  <section id="alentours">
    {% assign compteur = 1 %}
    {% assign spots = site.spots | where: "savoie", "oui" %}
    <h2 class="icon radar text-center">Aux alentours de Chambéry</h2>
    {% for spot in spots %}
      {% if compteur == 1 %}
        <div class="row">
      {% endif %}

      {% include spot-card.html spot = spot %}

      {% if compteur == 2 or spot == spots.last %}
        </div>
        {% assign compteur = 0 %}
      {% endif %}
      {% assign compteur = compteur | plus: 1 %}
    {% endfor %}
    <p class="text-center">
      <a class="button add" href="{{ site.baseurl }}/contribuer/">Ajouter un spot</a>
    </p>
  </section>
</div>
{% include foot.html %}
