    <footer>
      <ul class="no-style">
        <li><a href="/"><strong>Chambéry</strong> végan</a></li>
          <li><a href="https://lyon-vegan.fr/"><strong>Lyon</strong> végan</a></li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="six columns menu-footer">
            <ul class="no-style">
              <li>Conception <a href="https://odevillardi.fr">odevillardi</a></li>
              <li><a href="{{ site.baseurl }}/contribuer/">Contribuer</a></li>
              <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
            </ul>
          </div>
          <div class="six columns menu-footer left">
            <ul class="no-style">
              <li>Hébergé sur <a href="https://www.netlify.com">Netlify</a></li>
              <li>Licence <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">CC&nbsp;by-sa&nbsp;4.0</a></li>
              <li><strong>Zéro Cookie</strong> sur ce site</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
