<div class="container">
  <section class="spot-page" itemscope itemtype="https://schema.org/LocalBusiness">
    <link itemprop="image" href="{{ page.img }}">
    <h2 class="text-center">Notre avis</h2>
    <div class="row">
      <div class="six columns offset-by-three">
        {% if page.description %}
          <p itemprop="description">{{ page.description | markdownify | remove: "<p>" | remove: "</p>" }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div id="description" class="six columns">
        <h3>Description</h3>
        <ul class="no-style">
          <li class="icon {{ page.type-class }}">{{ page.type }}</li>
          <li class="icon no-icon" itemprop="servesCuisine">{{ page.vegan | markdownify | remove: "<p>" | remove: "</p>" }}</li>
          {% if page.emporter %}<li class="icon no-icon">{{ page.emporter }}</li>{% endif %}
          <li class="icon no-icon" itemprop="priceRange">{{ page.prix }}</li>
        </ul>
      </div>
      <div id="contact" class="six columns">
        <h3>Contact</h3>
        <ul class="no-style">
          {% if page.tel %}
          <li class="icon tel"><a href="tel:{{ page.tel-int }}"><strong itemprop="telephone">{{ page.tel }}</strong></a></li>
          {% endif %}
          {% for lien in page.liens %}
            <li class="icon no-icon">
              <a href="{{ lien.linkurl }}" itemprop="url">{{ lien.nom }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div id="adresse" class="six columns">
        <h3>Adresse</h3>
        <p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
          <a  title="Afficher la carte"
              class="icon adresse older"
              href="https://duckduckgo.com/?q={{ page.adresse | url_encode }}+{{ page.code-postal }}+{{ page.ville | url_encode }}&ia=web&iaxm=maps"
              ><strong itemprop="streetAddress">{{ page.adresse }}</strong>
              <br><span class="icon no-icon"><span itemprop="postalCode">{{ page.code-postal }}</span> <span itemprop="addressLocality">{{ page.ville }}</span></span>
          </a>
        </p>
        <div class="embed-responsive embed-responsive-4by3">
          {{ page.content }}
        </div>
      </div>
      <div id="infos" class="six columns">
        <h3>Infos pratiques</h3>
        <p class="icon horaires"><strong>Horaires</strong></p>
        <table class="text-left icon no-icon" aria-label="Tous les horaires" itemprop="openingHours">
          {% assign auj = "now" | date: "%u" | minus: 1 %}
          {% assign compteur = 0 %}
          {% for jour in page.horaires %}
              {% for horaires in jour %}
              <tr{% if compteur == auj and horaires[1] != "Fermé" %} class="green-text"{% elsif compteur == auj and horaires[1] == "Fermé" %} class="red-text"{% endif %}>
                <th>{{ horaires[0] }}</th>
                <td>{{ horaires[1] }}</td>
              </tr>
              {% endfor %}
            {% assign compteur = compteur | plus: 1 %}
          {% endfor %}
        </table>
      </div>
    </div>
  </section>
  <section class="text-center">
    <div class="row">
      <div class="six columns">
        <h3>Vous aimerez aussi</h3>
        <ul class="no-style">
          {% for item in page.related %}
            <li><a class="older" href="{{ site.baseurl }}/spots/{{ item.url }}.html">{{ item.nom }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="six columns">
        <h3>Vous connaissez un spot végan&nbsp;?</h3>
        <p class="text-center">
          <a class="button older" href="{{ site.baseurl }}/contribuer/">Ajouter un spot</a>
        </p>
      </div>
    </div>
  </section>
</div>
