
// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––

figure,
img,
.img,
iframe {
  max-width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: $spacing;
}

.img-circle { border-radius: 50%; }
