
// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dl,
ol,
ul {
  list-style: none;

  dl,
  ol,
  ul {
    // font-size: 90%;
    margin: 1.5rem 0 1.5rem 1.5rem;
  }
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

.list-inline {
  margin-left: 0;
  padding-left: 0;

  li { display: inline; }
  li:not(:first-child)::before {
    font-weight: 400;
    content: " · " ;
    color: $gray-color;
  }

  .item-break::before {
    @media (max-width: $breakpoint-s-1) {
      display: block;
      content: "\a";
    }
  }
}

.no-style {
  margin-left: 0;
  padding-left: 0;
  li { list-style: none; }
}

.button-list .button { margin: $half-spacing 0; }
