// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––
h1,
.main-title,
h2,
h3,
h4,
h5,
h6 {
  margin: $triple-spacing 0 $spacing;
  + h1, + .main-title, + h2, + h3, + h4, + h5, + h6 {
    margin-top: 0;
  }
}


input,
textarea,
select,
fieldset,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form,
img,
.video-container {
  margin-top: 0;
  margin-bottom: $spacing;
}

figure,
.img,
iframe {
  margin: 0;

}

hr {
  margin-top: $spacing;
  margin-bottom: $spacing;
}
