
// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

/****** Tables ******/
th, td {
  padding: $half-spacing $spacing;
  text-align: left;
  border-bottom: 1px solid;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
